<h1>CONTACT</h1>

<hr>

<h3>Phone</h3>

<p><%= number_to_phone "+91-8971522929" %></p>

<h3>Email</h3>

<p><a href="mailto:sudhanshu.yadav31@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
